@font-face{font-family:'Bebas Neue';src:url(bebas-neue-latin-400-normal.woff2) format('woff2');font-weight:400;font-display:block}
@font-face{font-family:'Barlow Condensed';src:url(barlow-condensed-latin-500-normal.woff2) format('woff2');font-weight:500;font-display:block}
@font-face{font-family:'Barlow Condensed';src:url(barlow-condensed-latin-600-normal.woff2) format('woff2');font-weight:600;font-display:block}
@font-face{font-family:'Barlow Condensed';src:url(barlow-condensed-latin-700-normal.woff2) format('woff2');font-weight:700;font-display:block}
@font-face{font-family:'Barlow';src:url(barlow-latin-400-normal.woff2) format('woff2');font-weight:400;font-display:swap}
@font-face{font-family:'Barlow';src:url(barlow-latin-500-normal.woff2) format('woff2');font-weight:500;font-display:swap}
@font-face{font-family:'Barlow';src:url(barlow-latin-600-normal.woff2) format('woff2');font-weight:600;font-display:swap}
@font-face{font-family:'Barlow';src:url(barlow-latin-700-normal.woff2) format('woff2');font-weight:700;font-display:swap}
